default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
development:
  <<: *default
  database: libra_api_development
test:
  <<: *default
  database: libra_api_test
production:
  <<: *default
  database: libra_api_production
  username: libra_api
  password: <%= ENV['MYAPP_DATABASE_PASSWORD'] %>

